:root {
    --btn-active: #4CAF50;
    --btn-color: #45a049;
}

#nav {
    display: flex;
    flex-direction: row;
    height: 15%;
    align-items: baseline;
    justify-content: center;
    z-index: 1;
}
#ref-panel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    transform: scale(0.7);
    position: absolute;
    left: 50%;
}
#ref-panel p {
    margin: 0;
    font-size: 20px;
    text-align: center;
}
#ref-panel button {
    padding: 5px 0px;
    border: none;
    background-color: var(--btn-color);
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid black;
}

#main {
    text-align: center;
    height: 85%;
    z-index: 1;
}
#label-money {
    font-size: 24px;
    margin-bottom: 20px;
}
#btn-wallet {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: var(--btn-color);
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
#btn-wallet:hover {
    background-color: var(--btn-active);
}
#btn-wallet:active {
    background-color: var(--btn-active);
    box-shadow: 0 5px #999;
    transform: translateY(2px);
}
#btn-main {
    background-color: var(--btn-color);
    color: white;
    padding: 8px 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 1px;
    cursor: pointer;
    border-radius: 5px;
}
#btn-main:hover {
    background-color: var(--btn-active);
}
#btn-main:active {
    background-color: var(--btn-active);
    box-shadow: 0 5px #999;
    transform: translateY(2px);
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.games-list {
    display: flex;
    flex-direction: column;
}
.games-row {
    display: flex;
    flex-direction: row;
}
.games-cell {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.3s;
    background-color: #f1f1f1;
}
.games-cell-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.games-cell-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.btn-game-enter {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-game-enter:hover {
    background-color: var(--btn-active);
}
.btn-game-enter:active {
    background-color: var(--btn-active);
    transform: translateY(2px);
    box-shadow: 0 5px #999;
}

.games-title {
    font-size: 24px;
    margin-bottom: 20px;
}

html, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
}