.coin-name {
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.coin-price {
  font-weight: 500;
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    Helvetica, Arial, sans-serif;
}

.coin-symbol {
  font-size: 0.8rem;
  color: grey;
  font-weight: normal;
}

.table-container {
  scroll-behavior: smooth;
}

.coin-btn {
  border-radius: 10%;
  padding: 5%;
  background-image: linear-gradient(
    90deg,
    rgb(255, 0, 208) 0%,
    rgb(51, 0, 255) 100%
  );
  color: white;
  border: 1px solid #b0b0b0;
  transition: all 100ms;
}

@media (hover: hover) {
  .coin-btn:hover {
    background-image: linear-gradient(
      90deg,
      rgb(221, 0, 205) 0%,
      rgb(0, 94, 255) 100%
    );
    transform: scale(1.1);
  }
  .coin-btn:active {
    color: black;
    background-image: linear-gradient(
      90deg,
      rgb(230, 0, 255) 0%,
      rgb(13, 0, 255) 100%
    );
  }
}

@media (hover: none) {
  .coin-btn:active {
    background-image: linear-gradient(
      90deg,
      rgb(221, 0, 205) 0%,
      rgb(0, 94, 255) 100%
    );
    transform: scale(1.1);
  }
}

.filter-switch label {
  cursor: pointer;
}
.filter-switch-item input:checked + label {
  color: inherit;
}
.filter-switch-item input:not(:checked) + label {
  --bg-opacity: 0;
  box-shadow: none;
}

.text-blue-600 {
  --text-opacity: 1;
  color: #3182ce;
  color: rgba(49, 130, 206, var(--text-opacity));
}

.relative {
  position: relative;
}
.p-1 {
  padding: 0.25rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.h-10 {
  height: 2.5rem;
}
.font-semibold {
  font-weight: 600;
}
.items-center {
  align-items: center;
}
.inline-flex {
  display: inline-flex;
}
.rounded-md {
  border-radius: 0.375rem;
}
.bg-gray-200 {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.relative {
  position: relative;
}
.h-8 {
  height: 2rem;
}

.flex {
  display: flex;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.text-gray-600 {
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
}
.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.leading-6 {
  line-height: 1.5rem;
}
.text-sm {
  font-size: 0.875rem;
}
.h-8 {
  height: 2rem;
}
.rounded {
  border-radius: 0.25rem;
}
.bg-white {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #4d4d4d;
  background-color: #f19999;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: calc(var(--width) * -1);
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: #4fe132;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  transform: translateX(var(--width));
}

.toggle input:checked ~ .labels::before {
  transform: translateX(var(--width));
}
